* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

#dice {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px; 
  grid-template-rows: 40px 40px 40px 40px 40px; 
  justify-content: center;
  grid-gap: 1px;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 5px;
  /* text-align: center; */
}

#game-data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-datum {
  display: flex;
  justify-content: center;
  width: 100%
}

#word-check-form,
#messages {
  margin: 0 auto;
  width: max-content;
}

#feedback {
  margin: 0 auto;
  width: max-content;
}

